.login {
    text-align: center;
    margin-top: 5%;
}

.login > h2 {
    font-size: 36px;
    font-weight:400;
}

.login-form {
    background-color: #7197F8;
    max-width: 400px;
    width: 100%;
    height: 400px;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-form__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form__field > label {
    max-width: 355px;
    width: 100%;
    height: 35px;
    margin-top: 42px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.login-form__field > label > input {
    max-width: 240px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}

.login-form__btns {
    width: 110px;
}

.login-form__btns > input {
    width: 110px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
    margin-bottom: 23px;
}

.login-form__btns > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}